.wrapper {
	position: relative;
	//margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 50%;
	margin-left: calc(-1024px / 2);
}

.footer {
	position: relative;
	z-index: 10000;
}

.skipLink {
	position: fixed;
	top: 0;
	left: 100px;

	display: block;
	overflow: hidden;

	height: 0;

	color: var(--white);
	background: var(--primary);
}

.displayed {
	height: auto;
}