@mixin flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth-form {
	@include flex;

	&__wrapper {

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		&-modal {
			@include flex;
		}
	}

	&__htag {
		margin-bottom: 20px;
	}
}