.input {
	color: var(--black);
	background: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	font-family: var(--font-family);

	font-size: 16px;
	line-height: 22px;

	width: 280px;
	padding: 5px;
	background: var(--black);
	border: 1px solid var(--gray-dark);
	outline-color: var(--white);
	border-radius: 3px;
}

.input::placeholder {
	color: var(--gray);
}

.error {
	border: 1px solid var(--red);
}

.inputWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	color: var(--red);
}