{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "useTabs": true,
  "tabWidth": 4,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 100
}