.footer {
	max-height: 230px;
	padding: 40px;

	&__wrapper {
	}

	&__group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
	}

	&__left {
	}

	&__nav {
		display: inline-block;

		li {
			display: inline-block;
			position: relative;
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 3px;
				background-color: var(--white);
				transition: all 0.3s ease-in-out;
			}

			&:hover::before {
				width: 100%;
			}
		}
	}

	&__divider {
		border: var();
	}

	&__license {
		color: var(--gray-dark);

		a {
			transition: all .2s;
			&:hover {
				color: var(--white)
			}

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}
