@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.products-list {
	padding-top: 120px;

	min-height: 100vh;

	&__wrapper {
		display: grid;
		grid-template-columns: 300px 1040px;
	}

	&__filters {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding: 30px;
		height: 350px;
	}

	&__cards {
		display: flex;
		flex-direction: column;

		height: 100vh;
	}

	&__items {
		display: flex;
		flex-flow: row wrap;

	}
}

.container {
	@include flex;
	margin: 0 auto;
	width: 1440px;
}