.button {
	position: relative;
}

.cart {
	position: absolute;
	top: 90px;
	right: 0px;
	z-index: 13000;

	background: var(--black);

	padding: 20px;

	&__wrapper {
		width: 300px;
		height: 400px;

		overflow-y: scroll;
	}

	&__product {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 10px;

		border: 1px solid var(--gray-dark);
		border-radius: 20px;
		margin: 10px;
		padding: 10px;

		transition: all .2s;

		&:hover {
			background: var(--gray-dark);
		}
	}
}