.p {

	letter-spacing: 0.8px;
	line-height: 1.5em;
	width: 96%;
}

.s {
	font-size: 16px;
	line-height: 20px;
}

.m {
	font-size: 18px;
	line-height: 24px;
}

.l {
	font-size: 24px;
	line-height: 28px;
}
