@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contacts {
	background-color: #a40606;
	background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

	&__wrapper {
		@include flex;
		flex-direction: row;

		width: 100vw;
		height: 100vh;
	}
}

.container {
	@include flex;

	margin: 0 auto;

	width: 1140px;
}

