@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-card {
	@include flex;
	flex-direction: column;
	gap: 20px;

	padding: 30px;

	background: var(--dark-black);

	transition: all .35s;

	&:hover {
		background: var();
		transform: translate(0, -10px);
	}

	button {
		align-self: flex-end;
	}

	&__image {
		& > img {
			border-radius: 20px;
		}
	}
}

.product-details {
	@include flex;
	flex-direction: column;
	gap: 10px;
}