@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product {

	margin: 10px;
	padding: 30px;


	&__wrapper {
		@include flex;

		position: relative;
	}

	&__data {
		display:grid;
		grid-template-columns: 130px 320px 320px 120px;
		justify-content: center;
		align-items: center;
	}

	&__delete {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__count {
		@include flex;
		gap: 10px;

		input {
			width: 60px;
		}

		button {
			width: 40px;
			height: 40px;
		}
	}

	&__details {
		display: flex;

		flex-direction: column;
	}

}