.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 20px;

	width: 350px;

	padding: 50px;

	&__input {
		&-password-wrapper {
			svg * {
				fill: black;
			}
		}
	}

	&__button {
		margin-bottom: 20px;
	}

	&__input-password-wrapper {
		position: relative;

	}

	&__check {

		cursor: pointer;

		input {
			margin-right: 5px;
		}

		font-weight: 300;
		font-size: 14px;
	}

	&__link {
		a {
			text-decoration: underline dotted var(--gray-dark);
		}
	}

	&__eye {
		position: absolute;
		right: 16px;
		top: 19px;
	}
}

.disabled {
	background: var(--gray-dark);
	cursor: not-allowed;

	&:hover {
		background: var(--gray-dark);
	}
}

