.card {
	margin: 10px;
	padding: 10px;

	color: var(--white);
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.black {
	background: var(--black);
}

.blue {
	@apply bg-sky-600;
}

.green {
	@apply bg-teal-600;
}

.red {
	@apply bg-red-600;
}
