@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {



	img {
		border-radius: 20px;

		max-width: 100%;
		height: auto;
	}

	&__wrapper {
		@include flex;
		flex-direction: column;
		gap: 20px;
	}

	&__main-image {}

	&__carousel {
		@include flex;
		flex-direction: column;
		gap: 20px;
		width: 50%;

		&-item {

			cursor: pointer;

			img {
				padding: 10px;
				width: 100%;
				height: auto;
			}
		}
	}
}