.button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;

	cursor: pointer;

	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.primary {
	background-color: var(--primary);
}

.primary svg * {
	fill: var(--black);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.black {
	background-color: var(--gray-dark);
}

.black svg * {
	fill: var(--primary);
}

.black:hover {
	background-color: var(--primary);
}

.black:hover svg * {
	fill: var(--gray-dark);
}
