@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart {
	padding-top: 100px;

	&__wrapper {
		@include flex;
		flex-direction: row;
		gap: 20px;
	}

	&__delete {
		position: absolute;
		top: 0;
		right: 0;
	}

	&__products {
		position: relative;
	}

	&__order {

	}
}

.container {
	width: 1140px;
}