.button {
	display: inline-block;

	padding: 10px;

	text-align: center;
	font-size: 14px;

	background: none;

	border: none;
	border-radius: 5px;

	outline: none;

	cursor: pointer;

	transition: all 0.4s;
}

.ghost {
	color: var(--white);
	border: 1px solid var(--white);

	&:hover {
		background: var(--gray-light-hover);
	}

	&:active {
		background: var(--gray-light-active);
	}
}

.primary {
	background: var(--primary);

	&:hover {
		background: var(--primary-hover);
	}

	&:active {
		background: var(--primary-active);
	}
}

.primary svg,
.ghost svg {
	fill: var(--white);
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}

.down {
	transition: all 0.2s;
	transform: rotate(90deg);
}
