.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 13px 20px;
	margin-bottom: 40px;

	background: var(--black);

	border: none;
	border-radius: 15px;

	box-shadow: var(--shadow);

	&__logo {
		display: inline-block;
	}

	&__nav {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		text-align: right;



		ul {
			margin-right: 20px;

			li {
				display: inline-block;
				margin-right: 40px;
				position: relative;

				&:last-child {
					margin: 0;
				}

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 3px;
					background-color: var(--white);
					transition: all 0.3s ease-in-out;
				}

				&:hover::before {
					width: 100%;
				}
			}
		}
	}
}
