.login-status {
	position: relative;
	z-index: 1;

	background: var(--gray-dark);
	border-radius: 15px;
	min-width: 100px;
	height: 50px;


	&__block {
		position: absolute;
		top: 89px;
		left: -29px;
		z-index: 1000;

		padding: 20px;

		border: none;
		border-radius: 15px;

		opacity: 0;

		background: var(--black);
		box-shadow: var(--shadow);
	}
}

.show {
	opacity: 1;
}