@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: #262323;
	--gray: #a4a4a4;
	--gray-light: #ebebeb;
	--gray-light-hover: #b7b6b6;
	--gray-light-active: #c5c5c5;
	--gray-dark: #6c7077;
	--white: white;
	--primary: #7351f5;
	--primary-hover: #6344df;
	--primary-active: #8158e1;
	--red-light: #fea291;
	--red: #fc836d;
	--green: #007b48;
	--green-light: #c8f8e4;
	--font-family: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	background: var(--black);

	margin: 0;
	padding: 0;

	color: var(--white);
	font-family: var(--font-family);
}

a {
	text-decoration: none;
	color: inherit;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}
