@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: #262323;
	--dark-black: #1a1818;
	--gray: #a4a4a4;
	--gray-light: #ebebeb;
	--gray-light-hover: #b7b6b6;
	--gray-light-active: #c5c5c5;
	--gray-dark: #6c7077;
	--white: white;
	--primary: #7351f5;
	--primary-hover: #6344df;
	--primary-active: #8158e1;
	--red-light: #fea291;
	--red: #fc836d;
	--green: #007b48;
	--green-light: #c8f8e4;
	--font-family: 'Montserrat', sans-serif;
	--shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 75px;
}

html,
body {
	background: var(--dark-black);

	margin: 0;
	padding: 0;

	color: var(--white);
	font-family: var(--font-family);
}

body {

	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--black);
		border-radius: 3px;
		transition: all .2s;


		&:hover {
			background-color: var(--gray);
		}
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 auto;

	width: 1140px;
}

a {
	text-decoration: none;
	color: inherit;
}

.overflow-hidden {
	overflow: hidden;
}

.visually-hidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}




