@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.catalog {
	&__wrapper {
		@include flex;
		justify-content: flex-start;
		flex-flow: row wrap;
	}
}


.container {
	@include flex;

	margin: 0 auto;
	height: 100vh;

	width: 1080px;
}